<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<GridLayout rows="*, auto">
    <!-- Add your page content here -->

    <Label horizontalAlignment="center" fontSize="30" row="0" text="Max Price : {{maxPrice}}€ " textWrap="true"></Label>

    <Label row="1" width="100%" textAlignment="center" height="70" backgroundColor="#9a9a9a" color="white" horizontalAlignment="center" text="Sessions List" horizontalAlignment="center" nsRouterLink="details" textWrap="true"></Label>

</GridLayout>